doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='stylesheet', src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js', defer)
  body
    block content
